@media (max-width: 1023px) {
    #container {
        width: 100%
    }
    #contacts {
        position: static;
        width: 635px;
        height: auto
    }
    #contacts ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center;
        padding-right: 0
    }
    #contacts ul li {
        margin-right: 20px
    }
    #serviceMenu > div {
        float: none
    }
    #serviceMenu {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: stretch;
            align-items: stretch;
        -ms-flex-line-pack: start;
            align-content: flex-start;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto
    }
    #serviceMenu > div#serviceMenu1,
  #serviceMenu > div#serviceMenu2,
  #serviceMenu > div#serviceMenu3,
  #serviceMenu > div#serviceMenu4 {
        width: 243px
    }
    #main {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center
    }
    #content {
        float: none;
        -ms-flex-order: 2;
            order: 2;
        margin-right: 0
    }
    #sidebar {
        margin-left: 0;
        -ms-flex-order: 1;
            order: 1;
        width: 650px;
        height: 720px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap
    }
    #clients b {
        width: 170px;
        background-size: 100% 100%
    }
    #clients img {
        margin-left: 10px;
        margin-right: 10px
    }
    #clients {
        padding-left: 160px
    }
    .rsform-block td {
        width: 304px
    }
}
@media (max-width: 766px) {
    #mainMenu {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 20px
    }
    #mainMenu ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center
    }
    #mainMenu ul li {
        margin-left: 10px;
        margin-right: 10px
    }
    #logo {
        position: static;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        margin-left: auto;
        margin-right: auto
    }
    #container {
        padding-top: 0
    }
    #contacts {
        width: 100%
    }
    #contacts ul {
        -ms-flex-pack: center;
            justify-content: center;
        margin-bottom: 20px
    }
    #sidebar {
        width: 100%;
        height: auto;
        -ms-flex-align: center;
            align-items: center
    }
    #content {
        width: 100%;
        box-sizing: border-box
    }
    #clients {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center;
        height: auto;
        padding-left: 0
    }
    #clients b {
        width: 100%;
        background-size: contain
    }
    #footer > div {
        position: static
    }
}
@media (max-width: 650px) {
    #content h1 {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-top: 10px;
        background: url(../img/sidebar.jpg) 0 0 no-repeat
    }
    #clients {
        padding-top: 120px
    }
}
@media (max-width: 480px) {
    #mainMenu ul {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: start;
            justify-content: flex-start
    }
    #contacts ul {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center
    }
}
